In [20]:
import pandas as pd
import numpy as np

In [14]:
s = pd.Series([12, -4, 7, 9], index=['a', 'b', 'c', 'd'])
s[0:2]

a    12
b    -4
dtype: int64

In [16]:
s[['a', 'b']]

a    12
b    -4
dtype: int64

In [18]:
s.iloc[1]=0
s

a    12
b     0
c     7
d     9
dtype: int64

In [19]:
s['b'] = -7
s

a    12
b    -7
c     7
d     9
dtype: int64

In [24]:
arr = np.array([1,2,3,4])

s3=pd.Series(arr)
s3

s4=pd.Series(s)
s4

a    12
b    -7
c     7
d     9
dtype: int64

In [27]:
s/2

np.log(s)

c:\Python312\Lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

a    2.484907
b         NaN
c    1.945910
d    2.197225
dtype: float64

In [39]:
serd = pd.Series(['a', 'a', 'b', 'c', 'd', 'd', np.NaN])
serd.value_counts()
serd.isin(['d'])

serd[serd.notnull()]
serd[serd.isnull()]

6    NaN
dtype: object

In [49]:
ndict1 = ({'crvena': 2000, 'plava': 1000, 'zuta': 500, 'crna': 1000})
ndict2 = ({'zelena': 1100, 'roza': 500, 'crvena': 700})

#boje = ['crvena', 'zuta', 'plava', 'bijela', 'crna', 'roza', 'zelena', 'ljubicasta']
serija1 = pd.Series(ndict1)
serija2 = pd.Series(ndict2)

serija3 = serija1 + serija2
serija3

crna         NaN
crvena    2700.0
plava        NaN
roza         NaN
zelena       NaN
zuta         NaN
dtype: float64

In [120]:
frame = pd.DataFrame(np.arange(0,16).reshape((4,4)), 
                     index=['mountain', 'full suspension', 'road bike', 'BMX'],
                     columns=['Trek', 'Santa Cruz', 'Specialized', 'Cube'])

frame.columns.name='Marke'
frame.idxmax()

Marke
Trek           BMX
Santa Cruz     BMX
Specialized    BMX
Cube           BMX
dtype: object

In [109]:
dataset=pd.read_csv("iris_dataset.csv")

dataset.loc[150] = [1, 3.3, 3.3, 3.3, 3.3]

dataset.describe()

dataset[dataset.duplicated()]

,target,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
142,2.0,5.8,2.7,5.1,1.9

In [126]:
ser1=pd.Series([1,5,6,3], index=[0,3,5,6])
ser1.reindex(range(6), method='bfill')

0    1
1    5
2    5
3    5
4    6
5    6
dtype: int64